<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type=text/css href="{{url_for('static', filename='styles/admin-style.css')}}" />
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/debt.png')}}" />

    <title>Debt App - Admin</title>
  </head>

  <body>
    <div class="center">
      <div class="center_box">
        <h1>Admin Page</h1>
        <form action="/add_trans" method="post">
          <label> Add Customer Debt </label> <br><br>
          <p> Customer name: </p>
          <input type="text" class="inputfield" name="cusname" placeholder="Customer Name" /><br><br>
          <p> Customer Debt: </p>
          <input type="text" class="inputfield" name="amount" placeholder="Customer Debt" /><br><br>
          <input type="submit" class="Buttons" value="Submit" />
        </form>
        <p style="color:white">{{ message }}</p>
      </div>
    </div>
  </body>
</html>
