<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type=text/css href="{{url_for('static', filename='styles/admin-style.css')}}" />
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/debt.png')}}" />

        <title>Debt App - Admin</title>
    </head>

    <body>
        <div class="container">
            <div class="content">
                <h1>Admin Sales Page</h1>

                <h4>Add Customer Debt</h4>
                <br /><br />
                <form action="/add_trans" method="post">
                    <label>Customer name:</label><br />
                    <input type="text" class="input-field" name="cusname" placeholder="Enter cutomer name..." /><br /><br />

                    <label>Debt amount:</label><br />
                    <input type="number" step="10000" min="0" class="input-field" name="amount" placeholder="Debt amount" /><br /><br />
                    <input type="submit" class="pay-btn" value="Pay now!" />
                </form>

                <p style="color: white">{{ message }}</p>
            </div>
        </div>
    </body>
</html>
