<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type=text/css href="{{url_for('static', filename='styles/admin-style.css')}}" />
        <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='assets/debt.png')}}" />

        <title>Debt App - Admin</title>
    </head>
    <body>
        <h1>Admin Page</h1>
        <form action="/add_trans" method="post">
            <label>Customer Name</label><br />
            <input class="input-field" type="text" name="cusname" placeholder="Enter customer name..." /><br /><br />

            <label>Dept Amount</label><br />
            <input class="input-field" type="number" name="amount" placeholder="Customer Debt" step="10000" /><br /><br />

            <input class="add-debt-button" type="submit" value="Add Debt!" />
        </form>

        {{ message }}
    </body>
</html>
