<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/finance-style.css') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/debt.png') }}" />

        <title>Debt App - Finance</title>
    </head>
    <body>
        <a href="/">Home</a>
        <div class="center">
            <div class="center_box">
                <h1>Finance</h1>

                <form action="/pay_debt" method="post">
                    <label> Clear Customer Debt </label><br />

                    <label>Transaction ID:</label><br />
                    <input type="number" min="0" step="1" class="input-field" name="trans_id" placeholder="Enter Transaction ID..." required /><br /><br />
                    <input type="submit" class="Buttons" value="Pay now!" />
                </form>
                <p style="color: white">{{ message }}</p>
            </div>
        </div>
    </body>
</html>
