<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="stylesheet" href="styles/index-style.css" /> -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Debt App - Finance</title>
  </head>
  <body>
    <h1>Welcome to Finance Page</h1>
    <form action="/del_debt" method="post">
      <input type="text" name="cusname" placeholder="Customer Name" />
      <input type="submit" value="Submit" />
    </form>

    {{ message }}
  </body>
</html>
