<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" type=text/css href="{{url_for('static', filename='styles/index-style.css')}}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='assets/debt.png')}}" />

        <title>Dept App - Log In</title>
    </head>
    <body>
        <div class="container">
            <div class="left-content">
                <div class="inside-left-content">
                    <h1>Welcome back</h1>
                    <p>Please enter your details</p>
                    <br />

                    <form action="/login" method="post">
                        <label> Username</label><br />
                        <input type="text" name="username" class="login-field" placeholder="Enter your username" /><br /><br />

                        <label> Password</label><br />
                        <input type="password" name="password" class="login-field" placeholder="Password" /><br /><br /><br />

                        <!-- Button -->
                        <input class="signin-button" type="submit" value="Sign in" /><br /><br />
                    </form>

                    <h3 class="wrong-msg">
                        {{void_username}}
                        {{void_password}}
                        {{wrong_username}}
                        {{wrong_password}}
                    </h3>
                    
                    <h3 class="correct-msg">
                        {{correct}}
                    </h3>

                    <a href="/admin">admin</a>
                    <a href="/finance">finance</a>
                    <a href="/manager">manager</a>
                </div>
            </div>

            <img src="{{ url_for('static', filename='assets/wallpaper-login-5.jpg') }}" class="img-responsive" alt="wallpaper" />
        </div>
    </body>
</html>
