<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- <link rel="stylesheet" type=text/css href="styles/index-style.css" /> -->
        <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='styles/index-style.css') }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/debt.png') }}" />

        <title>Dept App - Log In</title>
    </head>
    <body>
        <div class="container">
            <div class="left-content">
                <h1>Welcome to Dept App</h1>
                <br />

                <form action="/add_cus" method="post">
                    <label> Username</label><br />
                    <input type="text" id="" class="login-field" placeholder="Enter your username" /><br /><br />
                    <label> Password</label><br />
                    <input type="password" id="" class="login-field" placeholder="Password" /><br /><br />
                    <input class="signin-button" type="submit" value="Sign in" /><br /><br />
                </form>

                <a href="/admin">admin</a><br />
                <a href="/finance">finance</a><br />
                <a href="/manager">manager</a><b></b>
            </div>

            <div class="right-content">
                <img src="{{ url_for('static', filename='assets/wallpaper-login-3.jpg') }}" class="img-responsive" alt="wallpaper" />
            </div>
        </div>
    </body>
</html>
