@import url("https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-family: "Open Sans", sans-serif;


}

body {
    padding: 80px 90px 50px 90px;
    
    text-align: center;

}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
  }
  th, td {
    background-color: #96D4D4;
  }